.kinoman-skidka {
    .content{
        h1{
            b{
                font-size: 60px;
                @include screenM {
                    font-size: 50px;
                };
                @include screenS {
                    font-size: 36px;
                };
                @include screenXS {
                    font-size: 24px;
                };
            }
        }
        .price-block{
            padding-top: 36px;
            font-size: 30px;
            line-height: 36px;
            .price{
                font-size: 36px;
                line-height: 36px;
            }
        }
        h3 {
            font-size: 25px;
            line-height: 1.4;
            margin-top: 20px;
            b{
                font-weight: 900;
            }
            @include screenM {
                font-size: 22px;
            };
            @include screenS {
                font-size: 18px;
            };
            @include screenXS {
                font-size: 13px;
            };
        }
        h4{
            font-size: 54px;
			font-weight: 900;
			@include screenM {
				font-size: 40px;
			};
			@include screenS {
				font-size: 30px;
			};
			@include screenXS {
				font-size: 18px;
			};
        }
    }
    .timer{
        color: #fff;
    }
	.four-images-block {
		background-image: url("../i/posters_megahit_kinoman.png");
	}
    .full-image-block {
        margin-top: 50px;
        background-image: url("../i/4.png");
        @include screenM {
    		margin-top: 65px;
    	};
    	@include screenS {
    		margin-top: 80px;
    	};
        &:before{
            padding-bottom: 514 / 1024 * 100%;
        }
    }
}
