.btn {
	display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
	padding: 11px 50px 12px;
	color: #fff;
	font-size: 28px;
	line-height: 36px;
	border-radius: 30px;
	background-image: linear-gradient(to bottom, #0199ff, #0079ca);
	box-shadow: 0 2px 0 0 #004c7f;
    position: relative;
    top:0;
    cursor: pointer;
    &:hover{
        background-image: linear-gradient(to bottom, #0199ff, #1585d0);
    }
    &:active{
        position: relative;
        top: 2px;
    }
    @include screenM{
        font-size: 20px;
        line-height: 24px;
        padding: 8px 30px 9px;
    };
    @include screenXS{
        font-size: 16px;
        line-height: 20px;
        padding: 4px 20px 5px;
    };
}
