.carousel {
    &.main {
        @include screenS {
            margin: 0;
        }

        .carousel {
            overflow: hidden;

            &-wrapper {
                position: relative;
                overflow: hidden;
            }

            &-items {
                font-size: 0;
                width: 100%;
                white-space: nowrap;
                @include transition(transform 0.5s);
            }

            &-item {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                height: (450 / 1280 * 100vw);
                position: relative;
                z-index: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                // padding-top: $headerHeight;
                min-height: 250px;
                @include screenMS {
                    padding-top: 0;
                };

                .container {
                    height: 100%;
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    // background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 49%, rgba(0, 0, 0, 0.8));
                    background-color: rgba(0, 0, 0, .4);
                    z-index: -1;
                }

                .title {
                    @extend h1;
                    padding-top: 0.36em;
                    max-width: 80%;
                    white-space: normal;
                    @include screenMS {
                        font-size: 25px;
                        // max-width: 90%;
                        padding-top: 10px;
                    };
                }

                .subtitle {
                    font-size: 17px;
                    line-height: 20px;
                    opacity: 0.8;
                    margin-top: 14px;
                    @include screenMS {
                        display: none;
                    };
                }

                .tags {
                    @include screenMS {
                        display: none;
                    };

                    .tag {
                        margin-top: 20px;
                    }
                }

                .actions {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20px;
                    height: 50px;
                    text-align: center;

                    .left,
                    .right {
                        position: absolute;
                        top: 0;
                    }

                    .left {
                        left: 0;
                        text-align: left;
                    }

                    .right {
                        right: 0;
                        text-align: right;
                    }
                }
            }

            &-arrow {
                margin-top: 4px;
            }
        }

        .dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            text-align: center;

            .dot {
                display: inline-block;
                vertical-align: bottom;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background: rgba(#fff, .3);
                margin: 0 5px;
                @include transition(background 0.5s);

                &.active {
                    background: #fff;
                }
            }
        }
    }
}
