.page {
    &-channels {
        position: relative;
        background: #000;

        .my-channels-btn {
            position: absolute;
            top: 20px;
            left: 3.125%;
            z-index: 1;
        }

        .tv-program-btn {
            position: absolute;
            top: 20px;
            right: 3.125%;
            z-index: 1;
        }

        .my-channels-btn,
        .tv-program-btn {
            @include screenM {
                font-size: 0;
                width: 36px;
                height: 36px;
                padding: 0;
            };
            @include screenS {
                top: 15px;
            };

            &:before {
                width: 36px;
            }
        }

        .channels {
            &-head {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                @include screenS {
                    display: block;
                };

                .heading {
                    font-size: 35px;
                    font-weight: 700;
                    margin-right: 80px;
                    flex-shrink: 0;
                    @include screenS {
                        font-size: 25px;
                    };

                    span {
                        color: $primary;
                    }
                }
            }



            &-carousel {
                margin-top: 14px;

                .carousel-inner {
                    margin-left: -26px;
                    margin-right: -26px;
                    padding-right: 26px;
                    padding-left: 26px;
                    padding-bottom: 44px;

                    .carousel-item {
                        .snippet {
                            cursor: pointer;
                        }

                        &.active {
                            position: relative;

                            .snippet {
                                .epg {
                                    background: #004477;
                                }
                            }

                            &:after {
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: -48px;
                                height: 24px;
                                background: url("../i/icons/beak.svg") no-repeat;
                                background-position: center bottom;
                            }
                        }
                    }
                }
            }

            &-carousel-details {
                position: relative;
                padding: 30px 26px;
                margin: 0 -26px;
                background: #222;

                .title {
                    font-size: 45px;
                    font-weight: normal;
                    text-indent: inherit;
                }

                .description {
                    font-size: 15px;
                    margin-top: 4px;
                    max-width: 60%;
                    @include screenMS{
                        max-width: 100%;
                    };
                }

                .cta-block {
                    position: absolute;
                    top: 30px;
                    right: 26px;
                    text-align: right;

                    @include screenMS{
                        position: relative;
                        text-align: left;
                        padding: 0 0 20px;
                        width: 100%;
                        right: inherit;
                        top: inherit;
                    };

                    &-text {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 15px;
                        margin-right: 20px;

                        .text-large {
                            font-size: 25px;
                            line-height: 30px;
                        }
                        .channels-length {
                            opacity: .3;
                        }
                    }
                    &-text, .btn{
                        @include screenMS{
                            margin-top: 20px;
                        };
                    }
                }
            }

            &-epg {
                position: relative;
                padding: 30px 26px 50px;
                margin: 0 -26px;
                background: #222;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 26px;
                    right: 26px;
                    height: 2px;
                    background: #fff;
                    opacity: 0.1;
                }

                .title {
                    font-size: 25px;
                }

                &-wrapper {
                    white-space: nowrap;
                    font-size: 0;
                    height: 68px;
                    overflow: hidden;
                    margin: 14px -26px 0;
                    padding: 0 26px;
                }

                &-day {
                    display: inline-block;
                    vertical-align: top;
                    border-radius: 10px;
                    background: #333;
                    overflow: hidden;
                    margin-right: 14px;
                    padding-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &-title {
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    padding-top: 19px;
                    width: 59px;
                    height: 100%;
                    background: #555;

                    &--date {
                        font-size: 11px;
                        line-height: 13px;
                    }

                    &--day {
                        font-size: 13px;
                        line-height: 15px;
                        text-transform: uppercase;
                        margin-top: 2px;
                    }
                }

                &-item {
                    display: inline-block;
                    vertical-align: top;
                    padding: 16px 15px;
                    min-width: 50px;
                    max-width: 350px;

                    &--top {
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: 700;
                    }

                    &--bottom {
                        @include truncate(100%);
                        margin-top: 2px;
                        font-size: 13px;
                        line-height: 16px;
                    }
                }
            }

            &-overlay {
                position: relative;
                left: 0;
                right: 0;
                z-index: 1;
                &.fixed{
                    position: fixed;
                }
                @include screenS {
                    position: relative;
                };
            }
        }
    }
}

.calendar-tabs {
    padding-top: 15px;

    .tab-day {
        text-align: center;
        cursor: pointer;
        color: #aaa;
        // transition: color 200ms;

        &:hover {
            color: white;
        }

        .date {
            font-size: 11px;
            line-height: 13px;
            margin-bottom: 2px;
        }

        .day {
            text-transform: uppercase;
            font-size: 13px;
            line-height: 15px;
        }

        &.active {
            color: $primary;
            // font-weight: bold;
        }
    }
}

.channels-tabs {
    flex: 1;
    min-width: 0;
    margin-top: 16px;

    .genre {
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        color: rgba(#fff,.8);

        &.active {
            color: $primary;
        }

        em {
            font-style: normal;
            opacity: .3;
        }
    }

    .carousel-inner {
        text-align: right;
    }

    .carousel-items {
        display: inline-block;
        margin-left: -10px;
        margin-right: -10px;
    }
}
