:target:before {
    content: "";
    display: block;
    height: 6em;
    margin-top: -6em;
}

.page-help {
    display: flex;
    line-height: 1.4em;
    font-size: 15px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3.125%;

    .help-menu-holder {
        flex: 0 0 220px;
    }

    .help-menu {
        position: sticky;
        position: -webkit-sticky;
        top: calc(46px + 3em);
        background-color: #222;
        padding: 1.5em;
        box-sizing: border-box;
        border-radius: 1em;

        h2 {
            margin: 0;
        }

        ul {
            margin-top: 0.8em;
            margin-bottom: 0;

            li {
                line-height: 1em;
            }

            li + li {
                padding-top: 0.5em;
            }
        }

        ul + h2 {
            margin-top: 1em;
        }
    }

    .help-content {
        padding-left: 2em;
        flex: 0 1 auto;
    }

    a[name] {
        display: block;
    }

    section {
        margin-top: 3em;
    }

    h1 {
        font-size: 35px;
        margin: 0 0 1em;
    }

    h2 {
        font-size: 20px;
        line-height: 1.1;
        margin: 20px 0 10px;
    }

    ol,
    p,
    ul {
        color: rgba(255, 255, 255, .8);
        margin-bottom: 1em;
    }

    ol {
        list-style: decimal;
        padding-left: 10px;

        li {
            padding-top: 0.6em;
            margin: 0;
            position: relative;
            left: 1ex;
        }
    }

    a {
        color: $primary;
    }

    .help-menu-li {
        margin-bottom: 1em;

        li {
            padding-bottom: 0.5em;
            line-height: normal;
        }
    }
}
@media screen and (max-width: 740px) {
    .page-help {
        font-size: 13px;
        flex-direction: column;

        .help-menu-holder {
            margin-top: 1em;

            .help-menu {
                position: relative;
                top: 0;
            }
        }

        h1 {
            line-height: 1em;
        }

        .help-content {
            padding: 0;
        }
    }
}
