.page-items-list {
    .items-list {
        .snippet {
            margin-bottom: 30px;
        }
    }

    .heading {
        @include screenMS {
            span {
                display: block;
                margin-bottom: 10px;
            }
        };
        @include screenS {
            margin-bottom: 30px;
        };
    }

    .tabs {
        display: inline-block;
        vertical-align: top;
        margin: 16px 0 0 10px;
        font-size: 17px;
        line-height: 20px;
        @include screenMS {
            margin: 0 0 5px;
        };
        @include screenS{
            margin: 0 0 15px;
        };


        .tab {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            cursor: pointer;
            opacity: 0.8;
            @include screenMS {
                margin: 0 20px 0 0;

                &:last-child {
                    margin-right: 0;
                }
            };

            &:hover {
                opacity: 1;
            }

            &.active {
                color: $primary;
                opacity: 1;
            }
        }
    }

    .dropdowns {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        padding-top: 2px;
        @include screenM {
            top: inherit;
            bottom: 0;
        };
        @include screenS{
            position: static;
            text-align: left;
        };

        .dropdown {
            margin-right: 10px;
            @include screenS{
                width: calc(50% - 5px);
                .label, .drop{
                    width: 100%;
                }
            };
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
