.page-payment {
    .payment {
        &-title {
            padding: 50px 3.125%;
            text-align: center;
            font-size: 35px;
            font-weight: 700;
            @include screenS {
                font-size: 25px;
                line-height: 30px;
                padding-bottom: 20px;
            };

            span {
                display: inline-block;

                &:after {
                    content: ',';
                    display: inline-block;
                    margin-right: 10px;
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }

        &-blocks {
            text-align: center;

            .sub-period {
                display: inline-block;
                vertical-align: top;
                margin: 10px;
                padding: 14px;
                border-radius: 13px;
                background: #222;
                min-width: 160px;
                cursor: pointer;
                @include screenS {
                    display: block;
                };

                &.selected {
                    box-shadow: inset 0 0 0 3px #0099ff;
                    box-sizing: border-box;
                }

                &.disabled {
                    opacity: 0.3;
                    cursor: default;
                }

                &-title {
                    font-size: 24px;
                    line-height: 29px;
                    color: #fff;
                }

                &-price {
                    font-size: 17px;
                    line-height: 24px;
                    margin-top: 5px;
                    height: 24px;

                    span {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 5px;
                        color: #fff;

                        &:after {
                            content: '';
                            display: inline-block;
                            vertical-align: top;
                            margin-left: 2px;
                            width: 10px;
                            height: 24px;
                            background-image: url("../i/icons/hrivna.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }

                        &.crossed {
                            color: #5e5e5e;
                            position: relative;

                            &:before {
                                content: "";
                                position: absolute;
                                left: -5%;
                                top: 50%;
                                right: -5%;
                                border-top: 1px solid;
                                border-color: inherit;
                                @include transform(rotate(15deg));
                            }

                            &:after {
                                opacity: 0.3;
                            }
                        }
                    }
                }

                &-economy {
                    margin-top: 7px;
                    height: 14px;
                    line-height: 14px;
                    font-size: 12px;
                    color: #888;
                }
            }

            .with-promo {
                .sub-period {
                    &-economy,
                    &-price .price {
                        color: #00cc22;
                    }

                    &-price .price:after {
                        background-image: url("../i/icons/grivna-green.svg");
                    }
                }
            }
        }

        &-balance {
            width: 100%;
            max-width: 330px;
            margin: 0 auto;
            @include screenS {
                display: block;
                padding: 0 3.125%;
            };

            > div {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                padding: 11px 0;
                border-bottom: 2px solid rgba(#888, .2);
                font-size: 21px;
                line-height: 25px;

                &:last-child {
                    border: none;
                }
            }

            &-text {
                opacity: 0.5;
            }
        }

        &-actions {
            padding: 35px 0 20px;
            text-align: center;

            .btn {
                margin: 0 10px;
            }
        }
    }

    .promo-code {
        // margin: 40px 0;
    }
}

.payment-header-steps {
    position: absolute;
    top: 0;
    left: calc(3.125% + 134px);
    line-height: 46px;
    white-space: nowrap;
    @include screenS {
        left: 0;
        right: 0;
        text-align: center;
        top: 48px;
        font-size: 13px;
    };

    .step {
        display: inline-block;
        vertical-align: top;
        margin-right: 26px;
        position: relative;

        &.new {
            // animation: fadeInLeft 0.25s;
            // animation-fill-mode: both;
        }

        &:after {
            content: '';
            position: absolute;
            top: 10px;
            right: -26px;
            width: 26px;
            height: 26px;
            display: block;
            background: url("../i/icons/chevron-right.svg") no-repeat center;
            background-size: contain;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                content: none;
            }
        }

        &.active {
            color: $primary;
        }
    }
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
