.page-static {
    line-height: 1.4em;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3.125%;
    padding-top: 3em;

    p, ul { color: rgba(255, 255, 255, .8); }

    p {
        padding: .3em 0;
    }

    h1 {
        padding-bottom: .7em;
        line-height: 1.1em;
        font-size: 2em;
    }

    h2 {
        line-height: 1.1em;
        padding-top: .5em;
        font-size: 1.5em;
    }

    a {
        color: $primary;
    }

    ul {
        padding: 1em 0;

        li {
            padding-left: 2ex;
            position: relative;
            padding-bottom: .8em;

            &:before {
                content: '';
                display: block;
                background-color: $primary;
                width: 6px; height: 6px;
                top: .55em;
                left: 0;
                position: absolute;
                border-radius: 100px;
            }
        }
    }

    ul + p { padding-top: 1em; }
}

@media screen and (max-width: 740px) {
    .page-static {
        font-size: 13px;
    }
}
