.page-view-history {
    padding-top: 50px;

    h1 {
        text-align: center;
        font-size: 35px;
        padding-bottom: 30px;
    }

    .type-selector {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        a {
            margin: 0 10px;
            color: rgba(255, 255, 255, 0.8);
            position: relative;
            user-select: none;
            padding-bottom: 0.5em;

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 3px;
                border-radius: 100px;
                bottom: 0;
                left: 50%;
                right: 50%;
                transition: left 200ms ease-out, right 200ms ease-out;
                background-color: #09f;
            }

            &.active {
                cursor: default;
                color: rgba(255, 255, 255, 1);

                &:after {
                    left: 0;
                    right: 0;
                }

                span {
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            span {
                color: rgba(255, 255, 255, 0.4);
                margin-left: 6px;
            }
        }
    }

    .section-title {
        font-size: 25px;

        span {
            margin-left: 8px;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .see-more-container {
        padding-top: 50px;
    }

    .highlight {
        margin-bottom: 20px;
    }

    .snippet.with-poster {
        margin-bottom: 30px;
    }
}