.snippet {
    &.channel {
        .poster {
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 10px 10px 0 0;

            &:before {
                content: "";
                display: block;
                padding-bottom: 119 / 220 * 100%;
            }
        }

        .epg {
            padding: 12px 12px 2px;
            background: #222;
            height: 146px;
            border-radius: 0 0 10px 10px;

            &-item {
                margin-bottom: 10px;
                position: relative;

                .time {
                    display: block;
                    font-size: 15px;
                    font-weight: 700;
                }

                .marker {
                    width: 7px;
                    height: 7px;
                    display: block;
                    border-radius: 100%;
                    position: absolute;
                    top: 5px;
                    left: 45px;
                    background: #ff0000;

                    &.live {
                        background: #20ff00;
                    }
                }

                .title {
                    white-space: nowrap;
                    font-size: 13px;
                    line-height: 16px;
                    overflow: hidden;
                }
            }
        }

        &-horizontal {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            height: 60px;
            margin: 0 20px 10px;
            padding: 12px 65px 12px 126px;
            background: #222;
            cursor: pointer;

            &:hover {
                background: #2d2d2d;
            }

            &.active{
                background: #004477;
            }

            .poster {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 114px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .epg {
                overflow: hidden;

                &-item {
                    white-space: nowrap;
                    font-size: 15px;
                    line-height: 18px;
                    margin-bottom: 2px;
                    position: relative;

                    .marker {
                        width: 6px;
                        height: 6px;
                        display: block;
                        border-radius: 100%;
                        position: absolute;
                        top: 5px;
                        left: 45px;
                        background: #20ff00;
                    }

                    .time {
                        display: inline-block;
                        vertical-align: top;
                        font-weight: 700;
                    }

                    .title {
                        display: block;
                        vertical-align: top;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 16px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .actions {
                .features {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 100%;
                    width: 100%;
                    z-index: 1;
                    background: #222;
                    padding: 0 12px;

                    .btn {
                        width: 40px;
                        height: 40px;
                        margin: 10px 10px 0 0;
                    }

                    &-btn {
                        position: absolute;
                        right: 12px;
                        top: 21px;
                        z-index: 2;
                    }
                }
            }

            &.open {
                .poster {
                    visibility: hidden;
                }

                .actions {
                    .features {
                        left: 0;
                    }
                }
            }
        }

        &.channel-program{
            .epg{
                height: auto;
                &-item{
                    .title{
                        white-space: normal;
                    }
                }
            }
        }
    }
}
