.you-may-like {

  .snippet, .poster {
    overflow: visible;
  }

  .poster {
    position: relative;
    text-align: center;
  }

  .bg {
    position: absolute;
    border-radius: 10px;
    background-color: #222222;
    height: 100%;
    top: 0;
    right: 10px;
    left: 10px;

    &:after {
      content: "";
      position: absolute;
      margin-left: -25px;
      right: -30px;
      top: 50%;
      margin-top: -25px;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../i/icons/beak.svg");
      transform: rotate(-270deg);
    }
  }

  span {
    top: 50%;
    @include transform(translateY(-50%));
    position: absolute;
    opacity: 0.5;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    right: 0;

    &:before {
      content: "";
      width: 75px;
      display: block;
      margin: 0 auto;
      height: 75px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../i/icons/like.svg");
      background-size: contain;
    }
  }
}