.foot {
	padding: 100px 0;
	text-align: center;
    @include screenM{
        padding: 70px 0;
    };
    @include screenS{
        padding: 40px 0;
    };
	.socials {
		font-size: 0;

		li {
			display: inline-block;
			vertical-align: top;

			a {
				display: block;
				cursor: pointer;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 50px;
				height: 50px;

				&.gl {
					background-size: 33px 21px;
					background-image: url("../i/logo/gl.svg");
				}

				&.tw {
					background-size: 24px 20px;
					background-image: url("../i/logo/tw.svg");
				}

				&.fb {
					background-size: 22px 22px;
					background-image: url("../i/logo/fb.svg");
				}

				&.yt {
					background-size: 20px 24px;
					background-image: url("../i/logo/yt.svg");
				}
			}
		}
	}

	.phones {
		li {
			display: inline-block;
			vertical-align: top;
            margin: 0 10px;
            @include screenS{
                margin: 0 5px;
            };
			a {
                display: block;
                font-size: 18px;
                line-height: 22px;
                color: #fff;
                @include screenS{
                    font-size: 14px;
                };
                &:hover{
                    color: rgba(#fff, .7);
                }
            }
		}
	}

    .subtext{
        margin-top: 15px;
        font-size: 13px;
        line-height: 16px;
        color: #919191;
    }
}
