.preferences {
    position: relative;
    width: 50px;
    margin-left: 30%; // убрать по окончании
    margin-top: 200px; // убрать по окончании

    &-icon {
        cursor: pointer;
    }

    &-popup {
        position: absolute;
        bottom: 62px;
        right: -12px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation: fadeInUp 0.15s ease-out;
        max-width: 250px;

        &:after {
            content: "";
            position: absolute;
            bottom: -12px;
            right: 17px;
            width: 40px;
            height: 12px;
            background: url("../i/icons/pecik.svg") no-repeat center;
        }

        &-head {
            padding: 12px 20px;
            background: rgba(#333333, .9);
            border-radius: 14px 14px 0 0;
            white-space: nowrap;

            .tab {
                font-size: 15px;
                line-height: 18px;
                font-weight: 700;
                display: inline-block;
                vertical-align: top;
                margin-right: 14px;
                cursor: pointer;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    opacity: 1;
                    color: $primary;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-body {
            background: rgba(#222222, .9);
            border-radius: 0 0 14px 14px;
            overflow: hidden;

            &-items {
                white-space: nowrap;
                transition: transform 0.15s;
            }

            &-item {
                padding:  15px 20px;
                display: inline-block;
                vertical-align: top;
                width: 100%;
            }

            .item {
                font-size: 17px;
                line-height: 20px;
                color: rgba(#fff, .8);
                margin-bottom: 10px;
                cursor: pointer;

                &:last-child {
                    margin: 0;
                }

                &.current {
                    color: $primary;
                    cursor: default;
                }
            }
        }
    }
}
