.volume {
    &-block {
        position: relative;
        display: inline-block;
        user-select: none;
    }

    &-wrapper {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        height: 140px;
        cursor: pointer;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation: fadeInUp 0.15s ease-out;
    }

    &-bar {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 10px;
        bottom: 10px;
        border-radius: 20px;
        background-color: #222222;
        overflow: hidden;

        .gradient {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: linear-gradient(to bottom, #00ccff, $primary);
            background-size: 50px 120px;
            background-position: left bottom;
        }

        .value {
            font-size: 17px;
            line-height: 20px;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            text-align: center;
            font-weight: 700;
            color: #fff;
            &.small{
                font-size: 13px;
            }
        }
    }
}
