.header {
    height: $headerHeight;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(34, 34, 34, 0.90);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.18);
    @include sticky();
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 1000;

    .burger-btn {
        position: absolute;
        top: 8px;
        right: 3.125%;
        width: 30px;
        height: 30px;
        display: none;
        cursor: pointer;
        z-index: 9;
    }

    .nav {
        white-space: nowrap;
        font-size: 0;
        margin: 0 -9px;

        li {
            display: inline-block;
            vertical-align: top;

            a {
                line-height: $headerHeight;
                display: block;
                font-size: 17px;
                opacity: 0.8;
                margin: 0 9px;
                color: #fff;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    color: $primary;
                    opacity: 1;
                }
            }
        }

        &-logo,
        &-logo-mobile {
            width: 96px;
            display: block;
            height: $headerHeight;
            background: url("../i/icons/logo.svg") no-repeat center;
            opacity: 1 !important;
            font-size: 0 !important;
        }

        &-logo-mobile {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }

        &-icon {
            width: 34px;
            height: 34px;
            margin: 6px 0 0 0 !important;
            position: relative;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &.favourite {
                background-image: url("../i/icons/favourite.svg");
            }

            &.search {
                background-image: url("../i/icons/search.svg");

                &.active {
                    background-image: url("../i/icons/search-active.svg");
                    pointer-events: none;
                }
            }

            &.userpic {
                background-image: url("../i/icons/user.svg");
            }
        }

        &.left {
            @include screenMS {
                height: 0;
                overflow: hidden;
            }
        }

        &.right {
            position: absolute;
            top: 0;
            right: 9px;
            text-align: right;
            padding-top: 6px;

            .to-account-with-logout {
                text-align: right;
                user-select: none;

                .logout,
                .userpic {
                    display: inline-block;
                    vertical-align: middle;
                }

                .logout {
                    font-size: 17px;
                    opacity: 0.8;
                    color: #fff;
                    margin-right: 15px;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }

                .userpic {
                    margin-top: 0 !important;
                }
            }
        }
    }
    @include screenML {
        .nav {
            &.left {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                display: none;
                @media (orientation: landscape) {
                    flex-direction: row;
                    align-content: center;
                    padding: 0 10%;
                }
            }

            &-logo {
                display: none !important;

                &-mobile {
                    display: block !important;
                }
            }

            &.right {
                position: absolute;
                bottom: 20px;
                //left: 50%;
                left: 0;
                right: 0;
                top: inherit;
                //transform: translateX(-50%);
                text-align: center;

                .to-account-with-logout {
                    text-align: center;
                }
            }
        }

        .burger-btn {
            display: block;
        }

        &.open {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            pointer-events: auto;

            .container {
                height: 100%;
            }

            .nav {
                &.left {
                    height: 100%;
                    display: flex;
                }
            }

            + .content {
                // margin-top: 46px;
                height: 100%;
                pointer-events: none;
                overflow: hidden;
            }
        }
    }

    &.without-nav {
        position: static;

        .burger-btn,
        .nav.left li a:not(.nav-logo) {
            display: none;
        }

        .nav.right {
            @include screenML {
                top: 0;
                right: 9px;
                text-align: right;
                left: initial;
            }
        }
    }
}

.with-payer-block {
    // margin-top: -$headerHeight;
    // @include screenS {
    //     margin-top: 0;
    // };
}
