.lineups {
    // background-color: #f7f8fb;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0;
    @include screenS {
        flex-direction: column;
        padding: 20px 5px 0;
    }

    &-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        padding-left: 0;
        padding-right: 0;
        @include screenXS {
            display: block;
        }
    }

    &-list{
        text-align: left;
        margin: 20px 5px 0;
        flex-grow: 1;
        text-align: center;

        @include screenS {
            text-align: left;
        }

        > ul{
            display: inline-block;
            text-align: left;
        }
        li {
            position: relative;
            font-size: 17px;
            line-height: 30px;
            margin: 0 0 5px;
            @include screenM {
                font-size: 15px;
            }
            @include screenXS {
                font-size: 13px;
            }

            em {
                background: url("../i/lineups/number.svg") no-repeat center;
                background-size: contain;
                display: inline-block;
                width: 28px;
                height: 24px;
                margin-right: 6px;
                line-height: 28px;
                font-size: 12px;
                text-align: center;
                font-style: normal;
                position: relative;
                vertical-align: middle;
                top: -2px;
                @include screenM {
                    font-size: 11px;
                }
                @include screenXS {
                    line-height: 27px;
                    font-size: 10px;
                    width: 23px;
                }
            }

            &.was-subbed {
                color: rgba(255,255,255,.4);

                & > em {
                    background: url("../i/lineups/number-subbed.svg") no-repeat center;
                    background-size: contain;
                }
            }
        }
    }

    .home-lineups,
    .away-lineups {
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: space-between;
        @include screenS {
            width: 100%;
            padding-bottom: 2em;

            &.away-lineups {
                flex-direction: row-reverse;
                @include screenXS {
                    flex-direction: column-reverse;
                }
            }
        }
        @include screenXS {
            text-align: left;
            flex-direction: column;
        }

        > div {
            // padding: 20px 10px;
            @include screenS {
                min-width: 50%;
            }
            @include screenXS {
                min-width: 100%;
            }
        }

        .logo {
            background-size: contain;
            display: block;
            width: 81px;
            margin: auto;
            // margin-top: -20px;
            @include screenXS {
                margin: 0;
                display: inline-block;
                vertical-align: middle;
                width: auto;
                height: 40px;
            }
        }

        h3 {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 10px;
            @include screenM {
                font-size: 22px;
            }
            @include screenXS {
                font-size: 20px;
                display: inline-block;
                margin: 0 5px;
            }
        }

        h5 {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
            opacity: 0.5;
            @include screenXS {
                font-size: 10px;
                display: inline-block;
            }
        }

        h6 {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        b {
            font-weight: bold;
        }

        .lineups-list-subs {
            color: white;

            margin-top: -5px;
            em {
                color: #fff;
            }

            .sub-time {
                background: url("../i/lineups/subt.svg") no-repeat left top;
                color: rgba(#fff, .5);
                font-size: 11px;
                min-width: 18px;
                padding-top: 20px;
                margin: 0 6px 0 12px;
                position: relative;
                top: 6px;
                display: inline-block;
                line-height: 1em;
            }
        }

        .lineups-substitute {
            text-align: center;
            li {
                display: inline-block;
                vertical-align: top;
                font-size: 13px;
                line-height: 16px;
                margin:0 5px;
                opacity: 0.8;
                @include screenM {
                    font-size: 12px;
                }
            }
            @include screenXS {
                margin: 10px 0 -10px;
                text-align: left;
            }
        }

        .Red,
        .Yellow,
        .YellowRed,
        .goal {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }

        .Yellow {
            background: url("../i/lineups/card-yellow.svg") no-repeat center;
            width: 10px;
            height: 14px;
            margin-top: -4px;
        }

        .Red {
            background: url("../i/lineups/card-red.svg") no-repeat center;
            width: 10px;
            height: 14px;
        }

        .YellowRed {
            background: url("../i/lineups/card-yellow_red.svg") no-repeat center;
            width: 20px;
            height: 18px;
        }

        .goal {
            background: url("../i/lineups/ball.svg") no-repeat center;
            width: 17px;
            height: 17px;
        }

        small {
            color: rgba(#fff, .8);
            margin-left: 3px;
            font-size: 11px;
            @include screenM {
                font-size: 10px;
            }
            @include screenXS {
                font-size: 9px;
            }
        }

        .out {
            color: rgba(255, 255, 255, .3);

            em {
                color: #3b4952;
                opacity: 0.7;
            }
        }
    }
}
