.popup {
    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 222;
        text-align: center;

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 99;
        }
    }

    &-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 0.5;
        background: url("../i/icons/burger-close.svg") no-repeat center;
    }

    &-body {
        -webkit-animation-name: popupfadeInUp;
        animation-name: popupfadeInUp;
        -webkit-animation-duration: 200ms;
        animation-duration: 200ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 99;
        position: absolute;
        left: 50%;
        top: calc(50% + 23px);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 350px;
        background: #222222;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        text-align: left;
        max-height: 100%;
        overflow: hidden;
        height: calc(100% - 86px);
        margin-top: 23px;
        @include screenM {
            min-width: 300px !important;
            // height: calc(100% - 20px) !important;
        };

        .title {
            display: block;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            padding: 20px 25px 10px;
        }

        ul {
            display: block;
            list-style: none;
            padding: 9px 35px 19px 53px;
            overflow: auto;
            @include hideScroll;
            @include screenM {
                max-height: calc(100% - 60px);
                -webkit-overflow-scrolling: touch;
            };

            li {
                display: block;
                padding: 6px 0;
                font-size: 15px;
                line-height: 18px;
                cursor: pointer;
                position: relative;

                &:hover {
                    color: $secondary;
                }

                &.active {
                    font-weight: 700;
                    color: $secondary;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 30px;
                        top: 0;
                        left: -32px;
                        height: 30px;
                        background: url("../i/icons/check-mark.svg") no-repeat center;
                        background-size: contain;
                    }
                }

                &.list-title {
                    font-size: 17px;
                    line-height: 20px;
                    font-weight: 700;
                    margin-left: -25px;
                    pointer-events: none;
                }
            }

            p {
                display: block;
                padding: 16px 0;
                font-size: 15px;
                line-height: 18px;

                &.text-grey {
                    opacity: 0.5;
                }
            }
        }

        &.leagues {
            ul {
                max-height: calc(100% - 55px);
            }
        }

        &.clubs {
            .title {
                border: none;
                padding-bottom: 0;
            }
            // @media (orientation: landscape){
            //     height: calc(100% - 20px);
            // }
            .name-filter {
                border-bottom: 1px solid rgba(255, 255, 255, .1);
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: 19px;
                    top: 9px;
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: url("../i/icons/search.svg") no-repeat center;
                    background-size: contain;
                    opacity: 0.5;
                }

                input {
                    display: block;
                    width: 100%;
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    line-height: 18px;
                    color: #fff;
                    padding: 15px 50px 15px 53px;
                    font-weight: 500;
                    text-align: left;
                }

                .name-filter-clear {
                    position: absolute;
                    right: 8px;
                    width: 36px;
                    height: 36px;
                    top: 6px;
                    background: url("../i/icons/backspace.svg") no-repeat center;
                    background-size: cover;
                    cursor: pointer;
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            ul {
                max-height: calc(100% - 90px);
            }
        }
    }
}
@-webkit-keyframes popupfadeInUp {
    0% {
        opacity: 0;
        top: 60%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}
@keyframes popupfadeInUp {
    0% {
        opacity: 0;
        top: 60%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}
