header {
  margin-bottom: 1rem;
}
.card {
  width: 14rem;
  display: inline-block;
  margin-bottom: 1rem;
  .card-text {
    height: 3rem;
    overflow: hidden;
  }
}
.ukraine {
  width: 500px;
  height: 333px;
  border: 1px solid #aaa;
  //background: url("../i/bg.jpg");
}