/* PREFS ICON */
.preferences-icon {
    &_oval1 {
        transition: transform 0.2s cubic-bezier(0, .85, .85, .99);
    }

    &_oval2 {
        transition: transform 0.2s cubic-bezier(0, .85, .85, .99);
    }

    &_rect1 {
        transition: width 0.2s cubic-bezier(0, .85, .85, .99);
    }

    &_rect2 {
        transition: width 0.2s cubic-bezier(0, .85, .85, .99), transform 0.2s cubic-bezier(0, .85, .85, .99);
    }

    &_rect3 {
        transition: width 0.2s cubic-bezier(0, .85, .85, .99);
    }

    &_rect4 {
        transition: width 0.2s cubic-bezier(0, .85, .85, .99), transform 0.2s cubic-bezier(0, .85, .85, .99);
    }

    &.active {
        .preferences-icon {
            &_oval1 {
                transform: translateX(10px);
            }

            &_oval2 {
                transform: translateX(-10px);
            }

            &_rect1 {
                width: 14px;
            }

            &_rect2 {
                width: 6px;
                transform: translateX(10px);
            }

            &_rect3 {
                width: 4px;
            }

            &_rect4 {
                width: 16px;
                transform: translateX(-10px);
            }
        }
    }
}

.full-screen-btn {
    &_arrow1 {
        transition: transform 0.2s cubic-bezier(0, .85, .85, .99);
        transform-origin: 64% 36%;
    }

    &_arrow2 {
        transition: transform 0.2s cubic-bezier(0, .85, .85, .99);
        transform-origin: 36% 64%;
    }

    &.active {
        .full-screen-btn {
            &_arrow1 {
                transform: rotate(-180deg);
            }

            &_arrow2 {
                transform: rotate(180deg);
            }
        }
    }
}
.burger{
    &_rect1 {
        transition: transform .2s cubic-bezier(0, .85, .85, .99);
        transform-origin: 66% 44%;
    }
    &_rect2 {
        transition: transform .2s cubic-bezier(0, .85, .85, .99);
        transform-origin: 66% 56%;
    }
    &.active{
        .burger{
            &_rect1 {
                transform: rotate(-45deg);
            }
            &_rect2 {
                transform: rotate(45deg);
            }
        }
    }
}

@keyframes volumeFade {
    0% {
        right: 20px;
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
