.bundle{
    &#bundle,
    &#bundle-modal{
        // &-1518{
        //     .bundle-body .bundle-image{
        //         background-image: url('../i/bundles/bundle-football.png');
        //     }
        // }
        // &-4727{
        //     .bundle-body .bundle-image{
        //         background-image: url('../i/bundles/bundle-megahit.png');
        //     }
        // }
        // &-12636{
        //     .bundle-body .bundle-image{
        //         background-image: url('../i/bundles/bundle-kinoman.png');
        //     }
        // }
        // &-13390{
        //     .bundle-body .bundle-image{
        //         background-image: url('../i/bundles/bundle-amedia.png');
        //     }
        // }
        &-15210,
        &-15212,
        &-15214 {
            .bundle-contains {
                text-align: center;
                font-size: 25px;

                .text-primary{
                    font-size: 100px;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    display: block;
                    font-weight: 900;
                    margin: -10px 0 -20px;
                }
            }
            .bundle-image{
                display: none;
            }
        }
        &-15210{
            .bundle-contains {
                .text-primary{
                    background-image: linear-gradient(151deg, #0099ff, #0099ff 49%, #0099ff);
                }
            }
        }
        &-15212{
            .bundle-contains {
                .text-primary{
                    background-image: linear-gradient(151deg, #ffd100, #ff8769 49%, #d74873);
                }
            }
        }
        &-15214{
            .bundle-contains {
                .text-primary{
                    background-image: url('../i/gradient.jpg');
                    background-position: center;
                }
            }
        }
    }
}
