.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 1.2;
    font-size: 17px;
    border-radius: 100px;
    padding: 0.45em 0.9em 0.55em;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
    @include user-select;
    @include transition(box-shadow 0.15s);

    &:active,
    &:focus {
        @include transform(translateY(1px));
    }

    &:hover {
        box-shadow: 0 10px 20px 0 rgba(#000, 0.2);
    }

    &.with-icon {
        padding-left: 40px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.icon-right {
            padding-left: 1.2em;
            padding-right: 40px;

            &:before {
                left: inherit;
                right: 0;
            }
        }

        &.trailer {
            margin-top: 20px;

            &:before {
                background-size: 24px;
                background-image: url("../i/icons/play.svg");
            }

            &.pause {
                &:before {
                    background-image: url("../i/icons/pause.svg");
                }
            }
        }

        &.previous-btn {
            white-space: nowrap;
            &:before {
                background-size: 24px;
                background-image: url("../i/icons/previous.svg");
            }
        }

        &.my-channels-btn {
            &:before {
                background-image: url("../i/icons/my-channels.svg");
            }
        }

        &.tv-program-btn {
            &:before {
                background-image: url("../i/icons/tv-program.svg");
            }
        }

        &.back-btn {
            &:before {
                background-image: url("../i/icons/back.svg");
            }
        }
    }

    &.extraSmall {
        font-size: 13px;

        &.with-icon {
            padding-left: 32px;

            &:before {
                width: 32px;
            }
        }
    }

    &.small {
        font-size: 15px;
        padding: 0.5em 0.9em;

        &.with-icon {
            padding-left: 36px;

            &:before {
                width: 36px;
            }
        }
    }

    &.large {
        font-size: 20px;

        &.with-icon {
            padding-left: 46px;

            &:before {
                width: 46px;
            }
        }
    }

    &.fluid {
        display: block;
        text-align: center;
    }

    &.primary {
        font-weight: 700;
        background-color: $primary;
    }

    &.default {
        background-color: rgba(#555, .7);
    }

    &.not-transparent {
        background-color: #555;
    }

    &.disabled {
        //background-color: rgba(#555, .7);
        opacity: 0.5;
        cursor: default;
        &:active,
        &:focus {
            transform: none;
        }
    }

    &.icon {
        width: 50px;
        height: 50px;
        box-shadow: none !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        padding: 0;
        border-radius: 0;

        &.like {
            background-image: url("../i/icons/like.svg");

            &.active {
                background-image: url("../i/icons/like-active.svg");
            }
        }

        &.dislike {
            background-image: url("../i/icons/dislike.svg");

            &.active {
                background-image: url("../i/icons/dislike-active.svg");
            }
        }

        &.parental {
            background-image: url("../i/icons/parental.svg");

            &.active {
                background-image: url("../i/icons/parental-active.svg");
            }
        }

        &.favourite {
            background-image: url("../i/icons/favourite-large-white.svg");

            &.active {
                background-image: url("../i/icons/favourite-active.svg");
            }
        }

        &.pin {
            background-image: url("../i/icons/pin.svg");

            &.active {
                background-image: url("../i/icons/pin-active.svg");
            }
        }
    }
}

.btn-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
    @include transition(opacity 0.15s);

    &:hover {
        opacity: 1;
    }
}

.play-btn {
    width: 70px;
    height: 70px;
    background: url("../i/icons/play.svg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.pause-btn {
    width: 70px;
    height: 70px;
    background: url("../i/icons/pause.svg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.features-btn {
    width: 38px;
    height: 18px;
    background-image: url("../i/icons/features.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &.active {
        background-image: url("../i/icons/features-active.svg");
    }
}

.volume-btn {
    background-image: url("../i/icons/volume.svg");
    background-repeat: no-repeat;

    &:after,
    &:before {
        width: 25px;
        height: 50px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: 0;
        animation: volumeFade 0.2s cubic-bezier(0, .85, .85, .99);
    }

    &:after {
        content: "";
        background-image: url("../i/icons/volume-on.svg");
    }

    &:before {
        background-image: url("../i/icons/mute.svg");
    }

    &.mute {
        &:after {
            content: none;
        }

        &:before {
            content: "";
        }
    }
}

.with-close-icon {
    padding: 8px 34px 7px 16px !important;
    background-color: #222 !important;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 32px;
        background: url("../i/icons/close.svg") no-repeat center;
        background-size: 50%;
        opacity: 0.3;
        transition: opacity 200ms;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

.icon-cart {
    padding: 0 !important;

    &:before {
        content: '';
        display: block;
        height: 32px;
        width: 56px;
        background: url("../i/icons/cart-black.svg") no-repeat center;
        background-size: contain;
    }
}
