.credit-card {
    border-radius: 30px;
    background-color: #222222;
    padding: 30px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    @include screenS {
        max-width: 100%;
        margin: 0 3.125%;
    };
    @include screenXS {
        padding: 20px;
    };

    &-head {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .logo {
            &-visa-mc {
                width: 242 / 448 * 100%;
                background-image: url("../i/icons/visa-mc.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                &:after {
                    content: '';
                    display: block;
                    padding-top: 26 / 242 * 100%;
                }
            }

            &-mcsc {
                left: 0;
                width: 65 / 448 * 100%;
                background-image: url("../i/icons/mcsc.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-top: -5px;

                &:after {
                    content: '';
                    display: block;
                    padding-top: 37 / 65 * 100%;
                }
            }
        }
    }

    &-body {
        position: relative;
        padding-top: 50px;
        @include screenXS {
            padding-top: 30px;
        };

        .input-block {
            .label {
                font-size: 16px;
                line-height: 19px;
                text-align: left;
                margin-bottom: 10px;
                @include screenXS {
                    font-size: 13px;
                    line-height: 15px;
                    margin-bottom: 8px;
                };
            }

            input {
                display: block;
                border-radius: 6px;
                background-color: #333333;
                border: solid 2px rgba(255, 255, 255, 0.2);
                font-size: 24px;
                font-weight: 500;
                font-feature-settings: “tnum”;
                font-variant-numeric: tabular-nums;

                &:focus {
                    border: solid 2px $primary;
                }
                @include screenXS {
                    font-size: 17px;
                    line-height: 20px;
                };
            }

            &.credit-card-number {
                margin-bottom: 120px;
                @include screenXS {
                    margin-bottom: 90px;
                };

                input {
                    width: 100%;
                    text-align: center;
                }
            }

            &.credit-card-date {
                position: absolute;
                left: 0;
                top: 170px;
                @include screenXS {
                    top: 120px;
                };

                input {
                    width: 120px;
                    //text-align: center;
                }
            }

            &.credit-card-cvv {
                position: absolute;
                right: 0;
                top: 170px;
                @include screenXS {
                    top: 120px;
                };

                input {
                    width: 86px;
                    text-align: center;
                }

                .label {
                    text-align: right;
                }
            }

            &.error {
                input {
                    background-color: #2e0a0a;
                    border: solid 2px #ff0000;
                }
            }
        }
    }
}
