.page-error {
    text-align: center;

    .error {
        &-content {
            padding: 10%;
            @include screenS{
                padding-top: 50px;
            };
        }

        &-poster {
            width: 300px;
            height: 147px;
            display: inline-block;
            background: url("../i/illusion.svg") no-repeat center;
            background-size: contain;
            max-width: 80%;
        }

        &-message {
            &-header {
                font-size: 45px;
                margin: 30px 0 10px;
                font-weight: 700;
                @include screenS{
                    font-size: 30px;
                };
            }

            &-text {
                font-size: 25px;
                @include screenS{
                    font-size: 17px;
                };
            }
        }
    }
}
