.promo-code {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @include screenS{
        display: block;
    };
    .promo-text {
        font-size: 15px;
        line-height: 18px;
    }

    .promo-input {
        margin: 0 10px;
        @include screenS{
            margin: 10px;
        };

        input {
            border-radius: 8px;
            background-color: #222222;
            border: solid 2px rgba(255, 255, 255, 0.2);
            width: 162px;
            padding: 5px 8px;
            font-size: 15px;
            line-height: 18px;
            font-family: "MuseoSans";
            color: #fff;

            &:focus {
                border-color: #09f;
                background-color: #0a273a;
            }

            &.error {
                border-color: #ff0000;
                background-color: #2e0a0a;
            }
        }
    }

    &-wrapper {
        text-align: center;
        margin: 40px 0;
        position: relative;

        div.error {
            display: block;
            color: #ddd;
            font-size: 13px;
            line-height: 16px;
            color: red;
            padding: 10px 0 0;
            animation: fadeInUp 0.2s linear;
        }
    }
}

.discount {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 40px 10px 54px;
    padding: 14px 20px 22px;
    position: relative;
    max-width: 500px;
    border-radius: 14px;
    background-image: linear-gradient(108deg, #009a44, #155d57 45%, #032735);

    &-value {
        font-size: 25px;
        line-height: 31px;
        color: #fff;
        margin-bottom: 6px;
    }

    &-info {
        font-size: 13px;
        line-height: 16px;
        opacity: 0.7;
    }

    .btn{
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}
