.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 450px;
    background-color: #101010;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 999999999;
    @include screenS {
        width: 100% !important;
    };

    .close-btn {
        width: 24px;
        height: 24px;
        position: absolute;
        display: block;
        cursor: pointer;
        background: url("../i/icons/close.svg") no-repeat center;
        background-size: cover;
        top: 11px;
        right: 11px;
        z-index: 1;
        opacity: 0.4;
        transition: opacity 200ms;

        &:hover {
            opacity: 1;
        }
    }

    &-left {
        left: 0;
    }

    &-right {
        right: 0;
    }

    &.open {
        opacity: 1;
    }

    &-overlay {
        position: fixed;
        background-color: rgba(#222222, .5);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99999;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &-head {
        padding: 12px 20px;
        background-color: #222222;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
        .carousel-inner {
            text-align: left !important;
        }
    }

    &-title {
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
    }

    &-body {
        padding: 20px 0 10px;
        height: 100%;
        overflow: auto;
        @include hideScroll;
        user-select: none;

        > .epg {
            margin-top: -20px;
        }
    }
}
