.highlight {
    width: 100%;
    border-radius: 10px;
    @include user-select;

    &:hover{
        .highlight-main{
            .play-btn{
                // background-image: url("../i/icons/play-icon-hover.svg");
            }
        }
    }
    &-main {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        padding: 15px;
        border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        &:after{
            content: "";
            display: block;
            padding-bottom: 56.25%;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #000;
            z-index: -1;
            opacity: .3;
            transition: opacity 0.5s;
        }
        .title {
            position: absolute;
            font-size: 15px;
            line-height: 18px;
            font-weight: 500;
            color: #fff;
            left: 15px;
            bottom: 10px;
            right: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .play-btn {
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -25px 0 0 -25px;
            // background-image: url("../i/icons/play-icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // @include transition(background-image .15s);
        }
        .marker-football {
            font-size: 13px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            line-height: 15px;
            position: absolute;
            top: 15px;
            left: 15px;
            display: block;
            border-radius: 10px;
            font-weight: 700;
            padding: 3px 15px 2px;
            &.goal {
                background: #f32165;
            }
            &.best {
                background: #1943cd;
            }
        }
        .duration {
            font-weight: 700;
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 15px;
            line-height: 18px;
            color: #fff;
        }
    }
    &-details {
        position: relative;
        height: $snippetMatchHeightSmall;
        text-align: center;
        background-color: #222;
        .team {
            position: absolute;
            width: 50%;
            top: 25px;
            bottom: 4px;
            font-size: 0;
            white-space: nowrap;
            .name {
                display: inline-block;
                vertical-align: middle;
                font-size: 13px;
                line-height: 17px;
                white-space: normal;
                width: calc(100% - 40px);
                @include screenM{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                };
            }
            img {
                display: inline-block;
                vertical-align: middle;
                height: 60px;
                width: 27px;
            }
            &.home {
                left: 0;
                text-align: right;
                padding-right: 34px;
                img {
                    margin-left: 5px;
                }
            }
            &.away {
                right: 0;
                text-align: left;
                padding-left: 34px;
                img {
                    margin-right: 5px;
                }
            }
        }
        .date {
            font-size: 12px;
            line-height:14px;
            opacity: .7;
            padding-top: 4px;
        }
        .tournament {
            font-size: 13px;
            line-height:15px;
            padding-top: 8px;
            text-align: center;
            font-weight: 700;
        }
        .score {
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
            span:nth-child(2) {
                display: inline-block;
                vertical-align: top;
                margin: -3px 5px 0;
            }
        }
    }
    &.focus {
        cursor: default;
        box-shadow: 0 0 0 4px #229fff;
    }
    &.pause{
        .highlight-main .play-btn {
            // background-image: url("../i/icons/pause-icon.svg");
        }
    }

    .seek-time-progress-bar {
        position: absolute;
        background-color: rgba(221, 221, 221, 0.3);
        height: 4px;
        bottom: 0;
        width: 100%;

        div {
            background-color: #0099ff;
            border-radius: 2px;
            height: 4px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
}
