.date-ext {
    display: inline-block;
    margin-top: 32px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.7;
    @include screenXXL {
        margin-top: 45px;
        font-size: 17px;
        line-height: 20px;
        height: 20px;
    };
    @include screenM {
        margin-top: 31px;
        font-size: 12px;
        line-height: 14px;
        height: 14px;
    };
}

.time-ext {
    font-weight: 500;
    margin-top: 5px;
    font-size: 0;
    @include screenXXL {
        margin-top: 10px;
    };
    @include screenM {
        margin-top: 5px;
    };

    span {
        font-size: 20px;
        line-height: 24px;
        vertical-align: top;
        display: inline-block;
        @include screenXXL {
            font-size: 28px;
            line-height: 33px;
        };
        @include screenM {
            font-size: 17px;
            line-height: 20px;
        };

        &:nth-child(2) {
            display: inline-block;
            vertical-align: top;
            margin: -2px 2px 0;
            @include screenM {
                margin: auto;
            };
        }
    }
}

.score-ext {
    font-size: 32px;
    line-height: 38px;
    @include screenXXL {
        font-size: 40px;
        line-height: 48px;
    };
    @include screenM {
        font-size: 25px;
        line-height: 31px;
    };

    &:nth-child(1),
    &:nth-child(3) {
        position: absolute;
        width: 50%;
        display: block;
        top: 0;
    }

    &:nth-child(1) {
        left: 0;
        text-align: right;
        padding-right: 12px;
        @include screenXXL {
            padding-right: 16px;
        };
    }

    &:nth-child(2) {
        display: inline-block;
        margin-top: -2px;
        @include screenXXL {
            margin-top: -4px;
        };
    }

    &:nth-child(3) {
        right: 0;
        text-align: left;
        padding-left: 12px;
        @include screenXXL {
            padding-left: 16px;
        };
    }
}
// core styles

.match {
    background-color: #222;
    border-radius: 10px;
    // width: $snippetMatchWidth;
    height: $snippetMatchHeight;
    @include screenXXL {
        height: $snippetMatchHeightLarge;
    }
    @include screenM {
        height: $snippetMatchHeightSmall;
    }
    @include transition(background-color 0.15s);

    &.live {
        background: linear-gradient(127deg, #18332a, #0e4922 31%, #18332a) !important;
    }

    &-head {
        display: block;
        text-align: center;
        padding-top: 10px;
        line-height: 17px;
        font-weight: 500;
        font-size: 0;
        @include screenXXL {
            height: 20px;
            line-height: 20px;
        };
        @include screenM {
            height: 15px;
            line-height: 15px;
        };

        span {
            font-size: 14px;
            @include screenXXL {
                font-size: 17px;
            };
            @include screenM {
                font-size: 13px;
            };
        }

        span:not(.tournament) {
            opacity: 0.7;
            display: inline-block;
            margin-left: 15px;
            @include screenXS {
                display: none;
            };
        }
    }

    &-body {
        &-left,
        &-right {
            position: absolute;
            bottom: 2px;
            height: 80px;
            width: 50%;
            font-size: 0;
            @include screenXXL {
                height: 108px;
            };
            @include screenM {
                height: 60px;
            };
            white-space: nowrap;

            .name {
                font-size: 14px;
                line-height: 17px;
                font-weight: 500;
                display: inline-block;
                vertical-align: middle;
                margin: 0 8px;
                white-space: normal;
                width: calc(100% - 50px);
                @include screenXXL {
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0 15px;
                    width: calc(100% - 79px);
                };
                @include screenM {
                    font-size: 13px;
                    line-height: 17px;
                    margin: 0 10px;
                    white-space: normal;
                    width: calc(100% - 60px);
                };
                @include screenS {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: calc(100% - 45px);
                };
            }

            .logo {
                display: inline-block;
                width: 36px;
                height: 80px;
                vertical-align: middle;
                @include screenXXL {
                    width: 49px;
                    height: 108px;
                };
                @include screenM {
                    width: 27px;
                    height: 60px;
                };

                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        &-left {
            left: 0;
            padding-right: 45px;
            text-align: right;
            @include screenXXL {
                padding-right: 62px;
            };
            @include screenM {
                padding-right: 34px;
            };
        }

        &-right {
            right: 0;
            padding-left: 45px;
            text-align: left;
            @include screenXXL {
                padding-left: 62px;
            };
            @include screenM {
                padding-left: 34px;
            };
        }

        &-middle {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            text-align: center;

            &.live {
                .marker-football {
                    display: inline-block;
                    margin-top: 33px;
                    font-size: 13px;
                    line-height: 15px;
                    padding: 2px 11px 1px;
                    text-align: center;
                    font-weight: 700;
                    color: #fff;
                    text-transform: uppercase;
                    background: #00a90b;
                    border-radius: 12px;
                    letter-spacing: 2px;
                    @include screenXXL {
                        margin-top: 40px;
                    };
                    @include screenM {
                        margin-top: 26px;
                        font-size: 11px;
                        line-height: 13px;
                        padding: 2px 7px 1px;
                    };
                }

                .score {
                    font-size: 0;
                    position: relative;
                    font-weight: 700;

                    span {
                        @extend .score-ext;
                    }
                }

                .time {
                    font-size: 14px;
                    line-height: 17px;
                    color: $live;
                    @include screenXXL {
                        font-size: 16px;
                        line-height: 19px;
                    };
                    @include screenM {
                        font-size: 12px;
                        line-height: 14px;
                    };
                }
            }

            &.past {
                .date {
                    @extend .date-ext;
                }

                .score {
                    font-size: 0;
                    position: relative;

                    span {
                        @extend .score-ext;
                        font-weight: 700;
                    }
                }
            }

            &.future {
                .date {
                    @extend .date-ext;
                    margin-top: 37px;
                    @include screenXXL {
                        margin-top: 45px;
                    };
                    @include screenM {
                        margin-top: 31px;
                    };
                }

                .time {
                    @extend .time-ext;
                }
            }

            &.today {
                .marker-football {
                    @extend .date-ext;
                    font-weight: 700;
                    margin-top: 37px;
                    @include screenXXL {
                        margin-top: 45px;
                    };
                    @include screenM {
                        margin-top: 31px;
                    };
                    color: #ff5700;
                }

                .time {
                    @extend .time-ext;
                }
            }
        }
    }

    &.large {
        height: 358px;
        @include screenXXL {
            height: 430px;
        }
        @include screenML {
            height: 250px;
        }
        z-index: 0;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;

        .match {
            &-head {
                padding: 16px 0 0;
                line-height: 22px;
                font-size: 0;
                @include screenXXL {
                    padding: 20px 0 0;
                    line-height: 31px;
                }
                @include screenML {
                    padding: 12px 0 0;
                    line-height: 18px;
                }

                span {
                    font-size: 20px;
                    @include screenXXL {
                        font-size: 25px;
                    }
                    @include screenML {
                        font-size: 15px;
                    }
                }

                span:not(.tournament) {
                    @include screenXXL {
                        font-size: 20px;
                        right: 25px;
                        top: 25px;
                        line-height: 24px;
                    }
                    @include screenML {
                        font-size: 13px;
                        right: 10px;
                        top: 10px;
                        line-height: 15px;
                    }
                }
            }

            &-body {
                &-left,
                &-right {
                    height: 100%;
                    bottom: 0;
                    width: 50%;
                    padding: 0;
                    text-align: center;
                    white-space: normal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include screenXS {
                        width: 35%;
                    };

                    .logo {
                        width: 90px;
                        height: auto;
                        @include screenXXL {
                            width: 108px;
                        }
                        @include screenML {
                            width: 59px;
                        }

                        img {
                            display: inline-block;
                            vertical-align: top;
                        }
                    }

                    .name {
                        position: absolute;
                        width: 100%;
                        margin: 0;
                        bottom: 55px;
                        left: 0;
                        right: 0;
                        padding: 0 15px;
                        font-size: 20px;
                        line-height: 22px;
                        @include screenXXL {
                            font-size: 25px;
                            line-height: 30px;
                        }
                        @include screenML {
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }

                &-middle {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .time {
                        margin: 0;
                        padding: 0;

                        span {
                            font-size: 40px;
                            line-height: 50px;
                            @include screenXXL {
                                font-size: 60px;
                                line-height: 74px;
                            }
                            @include screenML {
                                font-size: 30px;
                                line-height: 35px;
                            }
                        }
                    }

                    .score {
                        span {
                            position: static;
                            font-size: 80px;
                            line-height: 96px;
                            display: inline-block;
                            width: auto;
                            margin: 0;
                            padding: 0;
                            font-weight: 700;
                            @include screenXXL {
                                font-size: 90px;
                                line-height: 108px;
                            }
                            @include screenML {
                                font-size: 50px;
                                line-height: 60px;
                            }

                            &:nth-child(2) {
                                // font-size: 60px;
                                margin: -5px 2px 0;
                                @include screenXXL {
                                    // font-size: 70px;
                                }
                                @include screenML {
                                    // font-size: 45px;
                                }
                            }
                        }
                    }

                    &.future .date,
                    &.past .date,
                    &.today .marker-football {
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 83px;
                        margin: 0;
                        font-size: 22px;
                        line-height: 20px;
                        padding: 4px 15px;
                        @include screenXXL {
                            font-size: 27px;
                            line-height: 32px;
                        }
                        @include screenML {
                            top: 70px;
                            font-size: 13px;
                            line-height: 15px;
                            padding: 3px 11px;
                        }
                    }

                    &.live {
                        .marker-football {
                            position: absolute;
                            margin: 0;
                            padding: 4px 15px;
                            top: 58px;
                            font-size: 17px;
                            line-height: 20px;
                            border-radius: 16px;
                            @include screenXXL {
                                top: 66px;
                                font-size: 20px;
                                line-height: 24px;
                            }
                            @include screenML {
                                top: 44px;
                                font-size: 13px;
                                line-height: 15px;
                                padding: 3px 11px;
                            }
                        }
                    }

                    .live-time {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 100px;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 700;
                        color: #00cc22;
                        @include screenXXL {
                            top: 108px;
                        }
                        @include screenML {
                            top: 73px;
                            font-size: 13px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}
