.seasons-block {
    padding: 20px 0;
    background: $grey;

    .season-names {
        .season {
            display: inline-block;
            vertical-align: top;
            font-size: 17px;
            line-height: 20px;
            cursor: pointer;
            opacity: 0.8;
            @include screenS {
                font-size: 15px;
                line-height: 18px;
            };
            transition: opacity 200ms;

            &:hover {
                opacity: 1;
            }

            &.active {
                color: $primary;
            }
        }
    }

    .series {
        margin-top: 20px;

        &-item {
            &.active {
                .series-poster {
                    box-shadow: inset 0 0 0 3px #0099ff, 0 5px 10px rgba(0,0,0,.2);
                    &:after {
                        display: none;
                    }
                }
            }
        }

        &-poster {
            border-radius: 8px;
            position: relative;
            background-color: #666;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
            background-size: cover;

            &:before {
                content: "";
                display: block;
                padding-bottom: 100 / 178 * 100%;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                right: 10px;
                bottom: 10px;
                background: url("../i/icons/play.svg") no-repeat center;
                background-size: cover;
                //opacity: 0.7;
            }

            &.default {
                background: url("../i/plug-pattern.png") repeat center !important;
            }

            .seek-time-progress-bar {
                position: absolute;
                height: 16px;
                width: 100%;
                bottom: 0;
                overflow: hidden;
                border-radius: 8px;

                div {
                    position: absolute;
                    overflow: hidden;
                    background-color: #0099ff;
                    height: 3px;
                    border-radius: 2px;
                    bottom: 0;
                    left: 0;
                    opacity: 1;
                }
            }
        }

        &-title {
            font-size: 15px;
            margin-top: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
