.timer {
	color: #000;
	position: absolute;
	bottom: -35;
	left: 0;
	right: 0;
	line-height: 1.2;

    &-inner{
        opacity: 0;
        visibility: hidden;
        animation: fadeIn .2s ease-in 1s;
        animation-fill-mode: both;
    }
	&-text {
		font-size: 18px;
		font-weight: 900;
	}

	.days {
		position: relative;
        display: inline-block;
        vertical-align: top;
		padding-right: 8px;
        margin-right: 10px;

		.value {
			font-size: 50px;
			font-weight: 900;
		}

		.text {
			position: absolute;
			top: 35%;
			font-size: 16px;
			right: 0;
			transform: rotate(270deg) translateX(50%);
            transform-origin: right;
		}
	}

	.hours,
	.minutes,
	.seconds {
		text-align: center;
		// position: absolute;
        display: inline-block;
        vertical-align: top;
        width: 40px;
        margin: 10px 5px 0;

		.value {
			font-size: 30px;
            line-height: 30px;
			font-weight: 900;
		}

		.text {
			font-size: 12px;
            line-height: 12px;
            margin-top: -3px;
		}
	}

	.hours {
        right: calc(50% - 12px);
	}

	.minutes {
        left: calc(50% + 10px);
	}

	.seconds {
        left: calc(50% + 60px);
	}
}


@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}
